/* #cv-form{
    display: none;
} */

#cv-template {
  display: none;
}

.myimg {
  border-radius: 50%;
  width: 200px;
}

.background {
  background-color: rgb(244, 198, 128);
}

.background:hover {
  background-color: rgb(250, 203, 133);
  transition: background-color 0.3s ease-in-out;
  border: 1px solid  rgb(114, 108, 99);
}
.backgroundfirscol {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  
}

.backgroundfirscol:hover {
  border: 1px solid  rgb(114, 108, 99);
  transition: box-shadow 0.3s ease-in-out;
  
}



.text-size{
  font-size: 16px;
}
